<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="assets/home.css">
  </head>
  <body id="md-list">
    <div class="container">
      <p class="mdBR-list-logo">
        <img src="images/Brasil100_small_white.png" alt="Managers' day small logo">
      </p>        
    </div><!-- /.container -->
    <div class="container">
    	<div class="col-xs-4"><img src="images/md-DB.jpg" alt="Digital Badge"></div>
    	<div class="col-xs-8"><h3><a href="javascript:void(0);">Digital Badge</a></h3></div>
    </div><!-- /.container -->
    <div class="container mdBR-list-container">
    	<div class="col-xs-4"><img src="images/md-T.jpg" alt="Transportation"></div>
    	<div class="col-xs-8"><h3><a href="javascript:void(0);">Transportation</a></h3></div>
    </div><!-- /.container -->
    <div class="container mdBR-list-container">
    	<div class="col-xs-4"><img src="images/md-EA.jpg" alt="Extra activities"></div>
    	<div class="col-xs-8"><h3><a href="javascript:void(0);">Extra activities</a></h3></div>
    </div><!-- /.container -->
  </body>
  <script src="assets/home.js"></script>
</html>
