<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="assets/assets.css">
  </head>
  <body id="md-home">
    <div class="container">
      <p class="mdBR-home-logo">
        <img src="images/Brasil100_wide_white.png" alt="Managers' day wide logo">
      </p>
      <form id="SigninForm" class="md-form-signin" action="/signin" method="GET">
        <div class="form-group">
          <label for="inputName" class="sr-only">Your Name</label>
          <input type="text" id="inputName" name="inputName" class="form-control" placeholder="Your Name" required autofocus>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email address" required>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="inputJobtitle" class="sr-only">Job title</label>
          <input type="text" id="inputJobtitle" name="inputJobtitle" class="form-control" placeholder="Job title" required>
        </div>
        <div class="form-group">
          <select class="form-control" name="inputLocation">
            <option value="RJ">Your location: Rio de Janeiro</option>
            <option value="SP">Your location: São Paul</option>
          </select>
        </div>        
        <div class="form-group">    
          <p>Confirm attendance?</p>
        </div>
        <div class="form-group">
          <input type="hidden" id="inputConfirm" name="inputConfirm" value="">
          <button class="btn btn-primary btn-block mdBR-home-YesBtn">YES</button>
          <button class="btn btn-block mdBR-home-NoBtn">No</button>
        </div>
      </form>
      <p class="text-success">Tips: please use your employee serial as password :-)</p>
      <div id="mdBR-pop" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
          123
          </div>
        </div>
      </div>
    </div><!-- /.container -->
  </body>
  <script src="assets/assets.js"></script>
<!--   <script src="dev/js/home.js"></script> -->
</html>