<!DOCTYPE html>
<html>
  <head>
    <title><%= title%></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="dev/css/style.css">
  </head>
  <body id="md-list">
    <div class="container">
      <p class="mdBR-list-logo">
        <img src="images/Brasil100_small_white.png" alt="Managers' day small logo">
      </p>        
    </div><!-- /.container -->
    <div class="container">
    	<div class="col-xs-4"><img src="images/md-DB.jpg" alt="Digital Badge"></div>
    	<div class="col-xs-8"><h3><a href="javascript:void(0);">Digital Badge</a></h3></div>
    </div><!-- /.container -->
    <div class="container mdBR-list-container">
    	<div class="col-xs-4"><img src="images/md-T.jpg" alt="Transportation"></div>
    	<div class="col-xs-8"><h3><a href="javascript:void(0);">Transportation</a></h3></div>
    </div><!-- /.container -->
    <div class="container mdBR-list-container">
    	<div class="col-xs-4"><img src="images/md-EA.jpg" alt="Extra activities"></div>
    	<div class="col-xs-8"><h3><a href="javascript:void(0);">Extra activities</a></h3></div>
    </div><!-- /.container -->
  </body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
